@import '../../Styles/App.scss';
.profile-photo{
    background-image: url('../../../public/assets/img/iłek.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.parallax {
    /* The image used */
    background-image: url('../../../public/assets/img/paralax2.jpg');
  
    /* Set a specific height */
    
   height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

 