@import '../../Styles/Settings.scss';
@import '../../Styles/global.scss';

    .mySwiper{
        height: 400px;
    }
    .swiper-wrapper{
        align-items: center;
    }
    .mySwiper .swiper-slide {
        transition: transform 0.4s ease, opacity 0.4s ease; 
        opacity: 0.6;  
        background-image: url('../../../public/assets/img/low-poly-grid-haikei.svg');
        border-radius: 4px;
        height: 200px;
        width: 70px;
        
    }
    
    .mySwiper .swiper-slide-active {
        transform: scale(1.6) !important;  /* Scale up the active (center) slide */
        opacity: 1;  /* Full opacity for the active slide */
        z-index: 10;
    }
    
    .mySwiper .swiper-slide-next, .mySwiper .swiper-slide-prev {
        transform: scale(0.5);  /* Slightly smaller for the next/prev slides */
        opacity: 0.8;  /* Reduce opacity for the next/prev slides */
    }